<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/themes/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/noty/jquery.noty.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/noty/noty_theme_mitgux.css")" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="site">
		<div id="header">
			@Html.ActionLink("Welcome to My Blog!!!!", "List", "Posts")
			<div id="currentUser">@Html.Action("CurrentUser", "Account")</div>
		</div>
		<div id="content">
			@RenderBody()
		</div>
		<div id="sidebar">
			<div id="tagCloud">
			@Html.Action("TagCloud", "Posts")
			</div>
		</div>
		<div id="footer">
			Blog Created using LTA Blog by EAA Software | Source Code available at: <a href="https://github.com/eallegretta/LtaBlog">GitHub</a>
		</div>
	</div>
	<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.noty.js")" type="text/javascript"></script>
	@Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions()
	@RenderSection("scripts", false)
	@if (TempData["Notify_Message"] != null)
 {
		<script type="text/javascript">
			noty({
				"text": '@TempData["Notify_Message"]',
				"layout": '@TempData["Notify_Position"]',
				"type": '@TempData["Notify_Type"]',
				"theme": "noty_theme_mitgux",
				"textAlign": "center",
				"easing": "swing",
				"animateOpen": { "height": "toggle", "opacity": 0.7 },
				"animateClose": { "height": "toggle" },
				"speed": "500",
				"timeout": "5000",
				"closable": true,
				"closeOnSelfClick": true
			});
		</script>
 }
</body>
</html>
